.art_work_small {
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 100%,
    80% 100%,
    80% 85%,
    0 85%,
    0% 70%,
    0% 35%,
    0 0
  );
  width: 100%;
}

.art_work_big {
  clip-path: polygon(
    85% 0,
    85% 40%,
    100% 40%,
    100% 78%,
    100% 100%,
    0 100%,
    0 79%,
    0% 43%,
    0 0
  );

  width: 100%;
  display: none;
}

.images {
  position: relative;
}

.images button img {
  margin-right: 0.5rem;
}

.images button {
  margin: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  color: #fff;
  font-size: 0.6rem;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  margin-top: -3.5rem;
}

.title img {
  width: 60px;
}

.title span h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.title span p {
  font-size: 1rem;
  opacity: 0.7;
  text-transform: capitalize;
}

.detail {
  position: relative;
}

.detail h1 {
  opacity: 0.4;
  color: lightgray;
  font-size: 5rem;
  position: absolute;
  top: -10rem;
  right: 0;
  z-index: 0;
  transform: skew(10deg);
}

.detail p {
  line-height: 1.5;
  font-size: 1rem;
  opacity: 0.7;
  z-index: 1;
}

.detail a {
  color: black;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.details {
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .details {
    margin-top: 7rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .art_work_small {
    display: none;
  }

  .art_work_big {
    display: block;
  }

  .title {
    margin-top: 0;
    display: grid;
  }

  .title span {
    margin-left: -1rem;
  }

  .title img {
    align-self: flex-end;
    transform: translateY(50px);
    margin-left: 2rem;
    width: 100px;
    height: 100px;
  }

  .title span h1 {
    font-size: 2rem;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .detail {
    align-self: center;
    justify-self: start;
  }

  .detail h1 {
    top: -14rem;
    font-size: 8rem;
  }
}
